.banner {
    background-color: #fdb3f8;
    color: #323a4e;
    padding: 20px 20px;
    margin-bottom: 0;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 20000px;
    margin: 0;
}

.banner-logo {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.banner-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.banner-title {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}

.banner-subtitle {
    margin: 0;
    font-size: 1em;
    opacity: 0.9;
}

.nav {
    background-color: #fdfd6f;
    color: #323a4e;
    padding: 10px;
    margin-bottom: 20px;
}

.nav a {
    color: #323a4e;
    text-decoration: none;
    margin-right: 20px;
}

.nav a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    max-width: 2000px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #85fb85;
    color: 	#323a4e;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background-color: #f44336;
}

.btn-success {
    background-color: #4CAF50;
}

.messages {
    list-style: none;
    padding: 10px;
}

.success {
    background-color: #d4edda;
    color: #358948;
    padding: 10px;
    border-radius: 3px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 3px;
}

input[type="text"], input[type="password"], input[type="date"], select {
    width: 300px;
    padding: 5px;
    margin: 5px 0;
}

.badge-success {
    color: rgb(61, 142, 61);
    font-weight: bold;
}

.badge-danger {
    color: red;
    font-weight: bold;
}