{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="banner">
        <div class="banner-content">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="banner-logo">
            
            <div class="banner-text">
                <h1 class="banner-title">Biblioteca Smiling friends</h1>
                <p class="banner-subtitle">Sistema de Gestión de Préstamos</p>
            </div>
        </div>
    </div>
    <div class="nav">
        <a href="{% url 'catalog:book_list' %}">Inicio</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'loans:my_loans' %}">Mis Préstamos</a> |
            {% if user.is_staff %}
                <a href="{% url 'loans:loan_list' %}">Préstamos</a> |
                <a href="{% url 'catalog:book_create' %}">Nuevo Libro</a> |
                <a href="/admin/">Admin</a> |
            {% endif %}
            {{ user.username }} |
            <a href="{% url 'logout' %}">Salir</a>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </div>

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>